button{
    padding:10px;
    font-size:30px;
    margin-bottom:10px;
}

#hijo{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px){
    #card{
        grid-template-columns: 1fr !important;
        margin-top:10px;
    }
}


@media  screen and (max-width: 1000px){
    #hijo{
        grid-template-columns: 1fr;
    }

}

@media (max-width: 1200px){
    #tiposPokemon > h1{
        font-size:30px !important;
    }

    #debPokemon > h1{
        font-size:30px !important;
    }
}
