/* Estilos de la pantalla de pokedex */

body{
    margin: 0 !important;
}

button{
    padding:10px;
    font-size:30px;
    margin-bottom:10px;
}

#hijo{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

@media (max-width: 600px){
    #card{
        grid-template-columns: 1fr !important;
        margin-top:10px;
    }

    .pok{
        height: 50px !important;
        width: 100px !important;
    }

}

@media (max-width: 400px){

    .pok{
        height: 50px !important;
        width: 100px !important;
    }

    .tituloPok{
        height: 70px !important;
        width: 140px !important;
    }

    .fila3{
        grid-template-columns: 1fr !important;
    }

    .filtro > input{
        height: 10px;
        width: 10px;
        margin: 20px 15px !important;
    }

    .filtro > label{
        font-size: 20px;
    }

    .home{
        grid-template-columns: 1fr ;
    }
}


@media  screen and (max-width: 1000px){
    #hijo{
        grid-template-columns: 1fr;
    }

}

@media (max-width: 900px){
    .home{
        grid-template-columns: 1fr 1fr;
}
}

@media (max-width: 1200px){
    #tiposPokemon > h1{
        font-size:30px !important;
    }

    #debPokemon > h1{
        font-size:30px !important;
    }

    
}


/* Estilos de la pantalla de citas */

/*html {
    min-height: 100%;
    position: relative;
  } */
  

  
  #contenedor{
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #citas{
    margin: 0 15px
  }
  
  #titulo{
    height: 10px;
    width: 70%;
    background-color: green;
  }
  
  .fila3{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-bottom: 60px;
    z-index: 100;
  }
  
  .fila3 > div{
    
    margin: 0;
  }
  
  label{
    font-size: 30px;
  }
  
  .filtro{
    background-color:#7bd753;
    border-radius: 10px;
  }

  .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    grid-auto-flow:row
  }

  .formulario{
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  
  .btnAdd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  #cerrar{
    padding: 0px 10px;
  }

  #cerrar:hover{
    cursor: pointer;
  }
  
  #footer{
    height: 50px;
    background-color: green;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  
  #footer > p{
    color: white;
    font-size: 30px;
    
  }


/* Estilos de la pantalla de home */

.home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin:50px
}

.homeBebidas{
    width: 100%;
}

.col{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
}

/* Estilos pantalla de header buscador de bebidas */

.header{
  background-color:steelblue;
  display: flex;
  justify-content: left;
  padding: 10px;
  justify-content: space-between;
}

.logoHeader > img{
  height: 100px;
}

.pages{
  display: flex;
  align-items:end;
  justify-content: center;
  margin-right: 20px;
  gap: 10px;
}

.pages > h2{
  margin:0 ;
  margin-right: 20px;
}

.linkActivo{
  color: orange;
  text-decoration: none !important;
}

.linkInactivo{
  color:white;
  text-decoration: none !important;
}



/* Estilos pantalla de header buscador de bebidas */

.cardBebidas{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
  align-items: center;
  padding: 20px;
}

.cardBebidas1{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:10px;
  align-items: center;
  width: 90%;
  border: 1px solid blue;
  padding:20px;
}

.bebida{
  margin-top:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

